<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!-- Library 실습 중에서 이미지가 인터넷접근 문제로 안넘어올 때 이 줄을 써주면 된다. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="타자"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".Design">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".practice02" />
        <activity android:name=".practice01">

        </activity>
        <activity android:name=".TabPagerActivity"></activity>
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".OwnActivitiy" />
        <activity android:name=".PhoneBookDetailActivity" />
        <activity android:name=".PhoneBookActivity" />
        <activity android:name=".AddViewActivity" />
        <activity android:name=".LibraryActivity" />
        <activity android:name=".ThreadActivity" />
        <activity android:name=".Context" />
        <activity android:name=".Resource" />
        <activity android:name=".NullSafety" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".OpenInternet" />
        <activity android:name=".openUrl" />
        <activity android:name=".Intent02" />
        <activity android:name=".Intent01" />
        <activity android:name=".Calculator" />
        <activity android:name=".Listener" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>